.contacts {
    margin-top: 186px;
}

.contacts__title {
    position: relative;
}

.contacts__title::before {
    content: '';
    display: block;
    position: absolute;
    margin-bottom: 12px;
    bottom: 19px;
    width: 24px;
    height: 24px;

    background-image: url(/resources/phone.png);
    background-size: cover;
}

.contacts__number {
    margin-bottom: 30px;
    display: block;

    color: rgba(18, 18, 18, 1);
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.contacts__mail {
    display: block;

    color: rgba(18, 18, 18, 1);
    opacity: 0.5;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: underline;
}