.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    height: 25px;
}


.logo {
    width: 126px;
    height: 22px;
    background-image: url(../resources/header/header-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.burger-btn {
    display: none;
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    background-color: rgba(0, 0, 0, 0.9);
}

.burger__content {
    width: 70%;
    height: 100%;
    padding: 80px 30px 80px 30px;
    background-color: white;
}

.burger_open {
    visibility: visible;
    opacity: 1;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.nav__link {
    display: block;
    color: black;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav__link:hover {
    opacity: 0.5;
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .burger-btn {
        display: block;
        width: 50px;
        height: 20px;
        background-image: url(../resources/header/burger-btn.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 20;
    }
    .burger-btn:hover {
        cursor: pointer;
    }
    .burger-btn_open {
        width: 34px;
        height: 34px;
        background-image: url(../resources/header/close-menu-btn.png);
    }
    .nav {
        display: none;
    }
    .burger-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 90px;
        gap: 20px;
    }
    .burger-nav__link {
        display: block;
        color: black;
        font-family: Manrope;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: -0.03em;
        text-decoration: none;
        text-transform: uppercase;
    }
    .burger__logo {
        width: 156px;
        height: 26px;
    }
    .burger__contacts-header {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.5;
    }
    .burger__contacts-number {
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 45.62px;
        text-decoration: none;
        color: black;
    }
    .burger__contacts-mail {
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 768px) {
    .nav {
        gap: 30px;
    }
    .nav__link {
        font-size: 12px;
    }
}