@import "./about.css";
@import "./footer.css";
@import "./introduce.css";
@import "./projects.css";
@import "./header.css";
@import "./section-black.css";
@import "./gallery.css";
@import "./contacts.css";
@import "./comments.css";
@import "./popup.css";

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: 'Manrope', 'sans-serif';
}
.container {
    margin: 0 auto;
    width: 1150px;
}
.container__black {
    width: 100%;
    background: rgb(18, 18, 18);
}
section {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1,
h2,
h3 {
    letter-spacing: -0.03em;
    font-weight: 400;
}
h1 {
    margin-bottom: 30px;
    width: 956px;

    font-size: 60px;
    line-height: 60px;
    color: rgb(18, 18, 18);
}
h2 {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 25px;
    color: rgb(18, 18, 18);
    text-transform: uppercase;
}
h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
}
.black_h2 {
    color: #FFFFFF;
}



@media (max-width: 1199px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    section {
        margin-top: 120px;
    }
    h1 {
        width: 800px;
        font-size: 50px;
        line-height: 60px;
    }
}
@media (max-width: 820px) {
    h1 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13px;
        padding-right: 13px;
    }
    section {
        margin-top: 80px;
    }
    h1 {
        margin-bottom: 25px;
        width: 100%;
        font-size: 30px;
        line-height: 31.62px;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 14px;
    }
}