.body_fixed {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
}

.popup_open {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 86px;
    width: 777px;
    max-height: 100%;
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow-y: scroll;
}

.popup__close-btn {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-image: url(../resources/popup/popup-close-btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popup__title {
    margin-bottom: 4px;
}

.popup__subtitle {
    font-size: 18px;
}

.popup__content-wrapper {
    text-align: center;
}

@media (max-width: 768px) {
    .popup {
        padding: 10px;
    }
    
    .popup__content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}