.body_fixed {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
}

.popup_open {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    position: relative;
    padding: 94px 67px 86px 67px;
    width: 777px;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    text-align: center;
}

.popup__close-btn {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-image: url(../resources/popup/popup-close-btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popup__title {
    margin-bottom: 4px;
}

.popup__subtitle {
    font-size: 18px;
}

.input {
    display: block;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 10px;
    font-family: Manrope;
    font-size: 25px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid black;
}
.input:focus {
    outline: none;
}
.input::placeholder {
    opacity: 0.5;
}

.fullWidthBtn__input {
    margin-top: 80px;
    height: 67px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .popup {
        padding: 10px;
    }
    
    .popup__content {
        padding: 80px 20px 80px 20px;
    }

    .popup__subtitle {
        font-size: 14px;
    }

    .input {
        margin-top: 40px;
        font-size: 18px;
        line-height: 25px;
    }

    .popup__close-btn {
        width: 30px;
        height: 30px;
    }
}