.project {
    margin-bottom: 90px;
}
.project__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -3%;
    color: #AD1818;
    cursor: pointer;
}
.project__image {
    width: 100%;
    
}
.fullWidthBtn {
    width: 100%;
    height: 153px;
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(173, 24, 24);
    cursor: pointer;
}
.fullWidthBtn:hover {
    background-color: rgb(173, 24, 24);
    color: rgb(255, 255, 255);
}



@media (max-width: 1199px) {
    .project__title {
        font-size: 25px;
    }
    .project {
        margin-bottom: 80px;
    }
    .project__image {
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .project__title {
        margin-top: 20px;
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 34px;
    }
    .project__link {
        font-size: 16px;
    }
    .project {
        margin-bottom: 49px;
    }
    .fullWidthBtn {
        height: 100px;
        font-size: 22px;
    }
    .project__image {
        height: 250px;
    }
}